<!DOCTYPE html>
<html>

<body>

  <h2>Create User</h2>

  <form action="/add" method="POST">
    Name:
    <br>
    <input type="text" name="name">
    <br>
    <br> City:
    <br>
    <input type="text" name="city">
    <br>
    <br> Identity-Id:
    <br>
    <input type="text" name="identity-id">
    <br>
    <br> Gender:
    <br>
    <input type="radio" name="gender" value="0"> Male
    <br>
    <input type="radio" name="gender" value="1"> Female
    <br>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>