<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  .error {
    color: red
  }
  </style>
</head>
<body>

  <h2>Create User</h2>
  <form action="/add" method="POST">
    <p class="error">{{ .ErrName }}</p>
    Name:
    <br>
    <input type="text" name="name">
    <br>
    <br>
    <p class="error">{{ .ErrCity }}</p>
    City:
    <br>
    <input type="text" name="city">
    <br>
    <br>
    <p class="error">{{ .ErrIdentityID }}</p>
    Identity-Id:
    <br>
    <input type="text" name="identity-id">
    <br>
    <br>
    <p class="error">{{ .ErrGender }}</p>
    Gender:
    <br>
    <input type="radio" name="gender" value="1"> Male
    <br>
    <input type="radio" name="gender" value="0"> Female
    <br>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>