<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Title of the document</title>
    </head>

  <body>
    <h1>User Management</h1>
    <div><a href="/add"><button type="button">Add User</button></a></div><br>
    <table border="1">
      <thead>
      <tr>
      <td>ID</td>
      <td>Name</td>
      <td>City</td>
      <td>Identity_id</td>
      <td>Gender</td>
      <td>Option</td>
                </tr>
      </thead>
      <tbody>
        {{ range . }}
          <tr>
            <td></a>{{ .ID }}</td>
            <td><a href="/users/{{.ID}}"> {{ .Name }} </a></td>
            <td>{{ .City }} </td> 
            <td>{{ .IdentityId }} </td>
            <td>
              {{if .Gender}}
                Female
              {{else}}
                Male
              {{end}}
            </td>
            <td>
              <form action="/users" method="POST">
              <input type="hidden" name="id" value="{{ .ID}}">
              <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </body>

</html>
